body {
    text-align: center;
    background: #c60909;
    color: #ffffff;
}

.status-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.game-header {
    background: #000000;
    border-radius: 1rem;
    padding: 1rem;
}
.Space {
    
}

.dice-panel,
.player-card {
    background: #000000;
    border-radius: 1rem;
    padding: 1rem;

}

.player-image {
    width: 4rem;
}